@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');

$primary-500: #91B84A;
$secondary-500: #0E6140;
$third-500: #e45d5c;
$text-color: #7B7B7B;
$transition-common: 0.3s;
$font-notoserif: 'Noto Serif TC', sans-serif;

@font-face {
    font-family: sitkaB;
    src: url(../font/SitkaBanner-Bold-06.woff) format("woff"),
         url(../font/SitkaBanner-Bold-06.otf) format("opentype");
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    color: $text-color;
    background-image: url(../img/bg.webp);
    background-size: 100%;
    background-position: 0 0;
    @media screen and (max-width: 1199px) {
        padding-bottom: 55px;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input, select, textarea, button {
    outline: none;
    border: 0;
    border-radius: 0;
}

main {
    overflow: hidden;
    @media screen and (max-width: 767px) {
        padding-top: 0;
    }
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (max-width: 1399px) {
        padding-left: 40px;
        padding-right: 40px;
        max-width: inherit;
    }
}

img {
    display: block;
    max-width: 100%;
}

.leave {
    position: absolute;
}

.swiper {
    &-button {
        &-next, &-prev {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0,0,0,0.25);
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 15px;
                height: 25px;
            }
            &::after {
                display: none;
            }
        }
        &-prev {
            svg {
                transform: translateX(-3px);
            }
        }
        &-next {
            svg {
                transform: translateX(2px);
            }
        }
    }
    &-pagination {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        position: static;
        &-bullet {
            width: 34px;
            height: 4px;
            border-radius: 0;
            opacity: 1;
            background-color: $secondary-500;
            &-active {
                background-color: $primary-500;
            }
        }
    }
    &-pic {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
    &-item {
        position: relative;
        width: 100%;
    }
    @media screen and (max-width: 991px) {
        &-button {
            &-next, &-prev {
                width: 10px;
                height: 10px;
                top: 50%;
                transform: translateY(-50%);
                margin: 0;
                svg {
                    width: 3px;
                    height: 6px;
                }
            }
            &-prev {
                svg {
                    transform: translateX(0);
                }
            }
            &-next {
                svg {
                    transform: translateX(0);
                }
            }
        }
        &-pagination {
            gap: 2px;
            &-bullet {
                width: 11px;
                height: 2px;
            }
        }        
    }
}

.remark {
    font-size: 18px;
    color: #fff;
    position: absolute;
    margin: 0;
    z-index: 5;
    @media screen and (max-width: 991px) {
        font-size: 7px;
    }
}

.title {
    &-main {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 0.2em;
        font-family: $font-notoserif;
    }
    &-wrap {
        display: flex;
        align-items: center;
        li {
            padding: 0 12px 0 20px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 1px;
                height: 22px;
                background-color: $secondary-500;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
                &::after {
                    display: none;
                }
            }
        }
    }
    &-deco {
        display: flex;
        align-items: center;
        &_line {
            height: 1px;
            width: calc(100% - 8px);
            background-color: $secondary-500;
        }
        &_circle {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $secondary-500;
        }
    }
    &-en {
        font-family: sitkaB;
        font-size: 72px;
        font-weight: 700;
        &-wrap {
            position: relative;
            z-index: 0;
            img {
                position: absolute;
                z-index: -1;
            }
        }
    }
    &-big {
        font-family: $font-notoserif;
        font-size: 64px;
        font-weight: 700;
    }
    @media screen and (max-width: 991px) {
        &-main {
            font-size: 25px;
            font-weight: 700;
            letter-spacing: 0.2em;
            font-family: $font-notoserif;
        }
        &-wrap {
            li {
                padding-left: 15px;
                &::after {
                    height: 8px;
                }
            }
        }
        &-en {
            font-size: 26px;
        }
        &-big {
            font-size: 22px;
        }
        &-deco {
            &_line {
                height: 0.5px;
                width: calc(100% - 3px);
            }
            &_circle {
                width: 3px;
                height: 3px;
            }
        }
    }
}

.text-common {
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    text-align: justify;
    @media screen and (max-width: 991px) {
        font-size: 11px;
        line-height: 2;
    }
}

.header {
    padding: 10px 15px;
    background-color: $primary-500;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    li {
        color: #fff;
        cursor: pointer;
        padding: 0 15px;
        position: relative;
        transition: $transition-common;
        &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 12px;
            background-color: #fff;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &:first-child {
            &::before {
                display: none;
            }
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

.kv {
    padding-top: 12vw;
    padding-bottom: 14vw;
    background-image: url(../img/kv-bg.webp);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    font-family: $font-notoserif;
    position: relative;
    &_logo {
        width: 29.43vw;
        display: block;
        margin: 0 auto 4vw;
    }
    &_near {
        li {
            display: flex;
            align-items: center;
            font-size: 46px;
            font-weight: 700;
            color: $secondary-500;
            padding: 0 15px;
            position: relative;
            .highlight {
                width: 70px;
                height: 70px;
                font-size: 63px;
                color: #fff;
                text-shadow: 0 0 2px rgba(0,0,0,0.75);
                background-image: url(../img/kv-circle.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
            }
            .place {
                letter-spacing: 0.15em;
            }
            &::after {
                position: absolute;
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $secondary-500;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
            &:last-child {
                padding-right: 0;
                &::after {
                    display: none;
                }
            }
        }
    }
    &_position {
        padding: 0 20px 3px;
        background: linear-gradient(to right, transparent 0%, #0E6140 20%, #0E6140 90%, transparent 100%);
        li {
            color: #fff;
            font-size: 42px;
            font-weight: 700;
            padding: 0 10px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                width: 2px;
                height: 38px;
                background-color: #fff;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }
    &_feat {
        position: relative;
        li {
            padding: 0 15px;
            position: relative;
            display: flex;
            align-items: flex-end;
            &::after {
                position: absolute;
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $secondary-500;
                top: 60%;
                right: 0;
                // transform: translateY(-50%);
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
        span {
            color: $secondary-500;
            font-size: 35px;
            font-weight: 900;
            line-height: 1;
            letter-spacing: 0.1em;
            &.num {
                font-size: 56px;
                margin: 0 5px;
                transform: translateY(5px);
            }
        }
        img {
            width: 60px;
            transform: translateY(5px);
        }
        &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 17px;
            background-color: $secondary-500;
            top: 50%;
            right: 0;
        }
    }
    &_phone {
        padding-left: 20px;
        color: $secondary-500;
        font-size: 48px;
        font-weight: 900;
        margin: 0;
        line-height: 1;
    }
    &_leave {
        &-1 {
            width: 22.57vw;
            top: 0;
            left: 0;
            z-index: 10;
        }
        &-2 {
            width: 9.87vw;
            top: 16.3vw;
            right: 15.79vw;
        }
        &-3 {
            width: 93.83vw;
            right: 0;
            bottom: 0;
        }
        &-4 {
            width: 13.89vw;
            left: 8.9vw;
            bottom: 20.56vw;
        }
        &-5 {
            width: 82.77vw;
            right: 0;
            bottom: 0;
        }
    }
    @media screen and (max-width: 991px) {
        padding-top: 52vw;
        padding-bottom: 44vw;
        &_logo {
            width: 57.58vw;
            margin: 0 auto 25px;
        }
        &_near {
            li {
                font-size: 25px;
                font-weight: 700;
                color: $secondary-500;
                padding: 0 15px;
                position: relative;
                .highlight {
                    width: 37px;
                    height: 37px;
                    font-size: 33px;
                }
                .place {
                    letter-spacing: 0.15em;
                }
                &::after {
                    width: 4px;
                    height: 4px;
                }
            }
        }
        &_position {
            width: fit-content;
            margin-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
            li {
                font-size: 24px;
                &::after {
                    height: 20px;
                }
            }
        }
        &_feat {
            margin-left: auto;
            margin-right: auto;
            li {
                &::after {
                    width: 4px;
                    height: 4px;
                }
            }
            span {
                font-size: 15px;
                &.num {
                    font-size: 24px;
                    transform: translateY(2px);
                }
            }
            img {
                width: 26px;
                transform: translateY(2px);
            }
            &::after {
                display: none;
            }
        }
        &_phone {
            padding-left: 0;
            font-size: 36px;
            margin: 15px auto 0;
        }
        &_leave {
            &-1 {
                width: 46.94vw;
            }
            &-2 {
                width: 14.17vw;
                top: 26.11vw;
                right: 10vw;
            }
        }
        
    }
}

.aesthetics {
    padding: 80px 0;
    position: relative;
    &_item {
        position: relative;
        width: 100%;
        padding-bottom: 56.98%;
        .remark {
            right: 15px;
            bottom: 12px;
        }
    }
    &_swiper {
        margin-bottom: 14px;
    }
    .swiper-pagination {
        // width: 100%;
        position: static;
        margin-bottom: 30px;
    }
    .title {
        &-main {
            color: $secondary-500;
            font-size: 48px;
        }
        &-en {
            color: #CECECE;
            opacity: 0.69;
            font-size: 68px;
        }
    }
    .title-deco {
        width: calc(100% - 512px - 590px - 40px);
    }
    &_leave {
        &-1 {
            width: 21.67vw;
            top: 2.2vw;
            left: -8.33vw;
        }
        &-2 {
            width: 20.56vw;
            bottom: 19.44vw;
            left: -4.72vw;
        }
        &-3 {
            width: 81.95vw;
            right: 0;
            bottom: 0;
        }
        &-4 {
            width: 13.61vw;
            top: 51.39vw;
            right: -8.06vw;
        }
    }
    @media screen and (max-width: 991px) {
        padding-bottom: 45vw;
        padding-top: 25vw;
        &_item {
            .remark {
                right: 5px;
                bottom: 5px;
            }
        }
        &_swiper {
            margin-bottom: 5px;
        }
        .swiper-pagination {
            margin-bottom: 15px;
        }
        .title {
            &-en {
                text-align: center;
            }
        }
    }
}

.technology {
    position: relative;
    &_text {
        position: absolute;
        width: 100%;
        left: 0;
        top: 2.5vw;
    }
    .title {
        &-en {
            font-size: 56px;
            margin-bottom: 15px;
            color: rgba(255,255,255,0.21);
        }
        &-wrap {
            li {
                &::after {
                    background-color: #fff;
                    width: 2px;
                }
            }
        }
        &-main {
            color: #fff;
            text-shadow: 0 0 5px rgba(0,0,0,0.75);
        }
        &-deco {
            position: absolute;
            right: 0;
            bottom: 14px;
            width: 200px;
            &_line {
                background-color: #fff;
            }
            &_circle {
                background-color: #fff;
            }
        }
    }
    .text-common {
        text-shadow: 0 0 5px rgba(0,0,0,0.75);
        color: #fff;
    }
    &_leave {
        &-1 {
            width: 12.44vw;
            top: -3.56vw;
            right: 5.08vw;
        }
        &-2 {
            width: 26.41vw;
            bottom: -16.22vw;
            left: 0;
        }
        &-3 {
            width: 17.22vw;
            top: -3.33vw;
            right: -6.95vw;
        }
    }
    .remark {
        left: 8px;
        bottom: 8px;
    }
    @media screen and (max-width: 991px) {
        &_text {
            top: 13vw;
        }
        .title {
            &-en {
                font-size: 36px;
                text-align: center;
            }
            &-wrap {
                flex-direction: column;
                li {
                    padding: 0 !important;
                    &::after {
                        display: none;
                    }
                }
            }
        }
        .text-common {
            width: 180px;
            margin: 15px auto 0;
        }        
    }
}

.feat {
    &.text-right {
        .feat_text {
            padding-left: 50px;
        }
    }
    &.text-left {
        .feat_text {
            padding-right: 50px;
        }
    }
    &_pic {
        width: 63%;
        border-radius: 10px;
        border: 9px solid #fff;
        box-shadow: 0 0 5px rgba(17, 38, 86, 0.2);
        position: relative;
    }
    &_text {
        width: 37%;
        .title {
            &-en {
                opacity: 0.51;
                &-wrap {
                    padding-bottom: 190px;
                    img {
                        opacity: 0.51;
                    }
                }
            }
            &-big {
                color: $secondary-500;
            }
            &-main {
                color: $secondary-500;
                letter-spacing: 0.05em;
                margin-bottom: 60px;
            }
            &-deco {
                width: calc(100% - 276px);
            }
        }
    }
    @media screen and (max-width: 991px) {
        &.text-right {
            .feat_text {
                padding-left: 0;
            }
        }
        &.text-left {
            .feat_text {
                padding-right: 0;
            }
        }
        &_pic {
            width: 100%;
            border-radius: 5px;
            border-width: 4px;
            order: 2 !important;
        }
        &_text {
            width: 100%;
            order: 1 !important;
            .title {
                &-en {
                    opacity: 0.75;
                    color: #E2E2E2;
                    &-wrap {
                        padding: 0;
                        img {
                            display: none;
                        }
                    }
                }
                &-main {
                    margin-bottom: 14px;
                    font-size: 22px;
                }
                &-big, &-main {
                    letter-spacing: 0.15em;
                }
            }
            .text-common {
                line-height: 1.6 !important;
            }
        }
        
    }
}

.transport {
    padding-top: 210px;
    padding-bottom: 110px;
    position: relative;
    .title-en-wrap {
        img {
            width: 286px;
            left: 40%;
            top: -20%;
        }
    }
    .text {
        &-common {
            margin-bottom: 70px;
            line-height: 2;
            .row {
                &-1 {
                    letter-spacing: 0.5em;
                }
                &-2 {
                    letter-spacing: 0.54em;
                }
                &-3 {
                    letter-spacing: 0.46em;
                }
            }
        }
    }
    .remark {
        bottom: 15px;
        left: 15px;
    }
    .feat_text {
        padding-bottom: 110px;
    }
    &_leave {
        &-1 {
            width: 23.27vw;
            right: 0;
            bottom:-10vw;
        }
        &-2 {
            width: 37.22vw;
            top: 0;
            right: 0;
        }
        &-3 {
            width: 39.75vw;
            left: 0;
            bottom: -15.56vw;
        }
    }
    @media screen and (max-width: 991px) {
        padding-top: 35px;
        padding-bottom: 60px;
        .text {
            &-common {
                margin-bottom: 25px;
                width: 80%;
                br {
                    display: none;
                }
                span {
                    letter-spacing: 0em !important;
                }
            }
        }
        .feat_text {
            padding-bottom: 0;
        }
        .remark {
            bottom: 7px;
            left: 7px;
        }
    }
}

.life {
    padding-bottom: 250px;
    position: relative;
    .container {
        position: relative;
    }
    .remark {
        bottom: 15px;
        right: 15px;
    }
    .title-en-wrap {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding-left: 150px;
        img {
            width: 235px;
            left: 0;top: 37px;
        }
    }
    .swiper-pagination {
        margin-top: 15px;
        padding-right: 15px;
    }
    .swiper-slide {
        padding-top: 140px;
        position: relative;
    }
    .title-wrap {
        margin-bottom: 60px;
        .title-main {
            font-size: 44px;
            margin: 0;
        }
    }
    .swiper-button {
        &-next, &-prev {
            bottom: 0;
            top: inherit;
        }
        &-next {
            right: -40px;
        }
        &-prev {
            left: -40px;
        }
    }
    &_leave {
        width: 19.72vw;
        top: 15.83vw;
        right: 8.61vw;
    }
    @media screen and (max-width: 991px) {
        padding-bottom: 55px;
        .remark {
            bottom: 5px;
            right: 5px;
        }
        .title-en {
            margin-bottom: 55px;
            text-align: right;
            &-wrap {
                position: static;
                padding-left: 0;
                margin-bottom: 0;
            }
        }
        .swiper-pagination {
            margin-top: 5px;
            padding-right: 8px;
        }
        .swiper-slide {
            padding-top: 0;
        }
        .title-wrap {
            margin-bottom: 14px;
            .title-main {
                font-size: 22px;
                margin: 0;
            }
        }
        .swiper-button {
            &-next, &-prev {
                bottom: 10px;
            }
            &-next {
                right: 15px;
            }
            &-prev {
                left: 15px;
            }
        }
        .feat_text {
            margin-bottom: 30px;
        }
        .text-common {
            height: 66px;
        }
    }
}

.architecture {
    padding-bottom: 400px;
    position: relative;
    &_title {
        width: fit-content;
        margin-bottom: 55px;
    }
    &_tag {
        margin: 0;
        padding: 2px 15px;
        border-radius: 100px;
        background-color: $secondary-500;
        color: #fff;
        font-family: $font-notoserif;
        font-size: 24px;
        font-weight: 700;
        margin-left: 15px;
    }
    &_text {
        width: 55%;
        .title {
            &-en {
                opacity: 0.51;
                margin-bottom: 160px;
                &-wrap {
                    padding-left: 110px;
                    img {
                        opacity: 0.69;
                        width: 238px;
                        top: -40px;
                        left: 0;
                    }
                }
            }
            &-big {
                color: $secondary-500;
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                span {
                    display: block;
                    padding: 0 15px;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 25px;
                        background-color: $secondary-500;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                        &::after {
                            display: none;
                        }
                    }
                }
            }
            &-main {
                color: $secondary-500;
            }
            .text-common {
                line-height: 2;
            }
        }
    }
    &_pic {
        width: 45%;
        .row {
            margin-left: -5px;
            margin-right: -5px;
            >div {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        button {
            color: $secondary-500;
            font-family: $font-notoserif;
            font-size: 27px;
            font-weight: 700;
            height: 80px;
            border-radius: 15px;
            border: 2px solid $secondary-500;
            transition: $transition-common;
            width: 100%;
            &.active {
                border-color: $primary-500;
                background-color: $primary-500;
                color: #fff;
            }
        }
    }
    &_swiper {
        margin-bottom: 15px;
        &_item {
            padding-bottom: 110.63%;
            .remark {
                right: 5px;
                bottom: 5px;
            }
        }
    }
    &_leave {
        &-1 {
            width: 13.06vw;
            top: -12.1vw;
            right: -2.15vw;
        }
        &-2 {
            width: 23.27vw;
            right: 0;
            bottom: 0;
        }
        &-3 {
            width: 17.5vw;
            left: -2.5vw;
            top: -8.61vw;
        }
        &-4 {
            width: 37.15vw;
            left: calc(100% + 5px);
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &_promise {
        .text-common {
            .row {
                &-1 {
                    letter-spacing: 0.1em;
                }
                &-2 {
                    letter-spacing: 0.1em;
                }
                &-3 {
                    letter-spacing: 0em;
                }
            }
        }
    }
    &_spirit {
        .text-common {
            .row {
                &-1 {
                    letter-spacing: 0.12em;
                }
                &-2 {
                    letter-spacing: 0em;
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        padding-bottom: 65px;
        &_title {
            margin-bottom: 25px;
            position: relative;
        }
        &_tag {
            padding: 2px 10px;
            font-size: 8px;
            margin-left: 10px;
        }
        &_text {
            width: 100%;
            margin-bottom: 25px;
            .title {
                &-en {
                    margin-bottom: 0;
                }
                &-big {
                    margin-bottom: 5px;
                    span {
                        padding: 0;
                        &::after {
                            display: none;
                        }
                    }
                }
                &-main {
                    margin: 0;
                    font-size: 16px;
                }
            }
            .text-common {
                letter-spacing: 0.05em !important;
                line-height: 1.6 !important;
                width: 90%;
                br {
                    display: none;
                }
            }
        }
        &_pic {
            width: 100%;
            margin-top: 25px;
            button {
                font-size: 12px;
                height: 37px;
                border-radius: 7px;
                border: 1px solid $secondary-500;
            }
        }
        &_swiper {
            margin-bottom: 10px;
            &_item {
                padding-bottom: 85.61%;
            }
        }
    }
}

.map {
    padding-bottom: 320px;
    position: relative;
    &_text {
        width: 30%;
        .title {
            &-en {
                opacity: 0.51;
                margin-bottom: 150px;
                &-wrap {
                    padding-left: 110px;
                    img {
                        opacity: 0.69;
                        width: 238px;
                        top: -40px;
                        left: 0;
                    }
                }
            }
            &-big {
                color: $secondary-500;
            }
            &-deco {
                width: calc(100% - 145px);
            }
            &-main {
                color: $secondary-500;
                letter-spacing: 0.05em;
                .num {
                    width: 74px;
                    height: 74px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background: linear-gradient(-54.88deg, #0E6140 0%, #91B84A 100%);
                    color: #fff;
                    font-weight: 700;
                    font-size: 78px;
                    text-align: center;
                    line-height: 78px;
                    letter-spacing: 0;
                    transform: translateY(12px);
                    margin-right: 10px;
                }
            }
        }
    }
    &_title {
        width: fit-content;
        margin-bottom: 40px;
    }
    &_distance {
        width: fit-content;
        margin-bottom: 80px;
        ul {
            margin-bottom: 40px;
        }
        li {
            display: flex;
            align-items: center;
            span {
                color: $secondary-500;
                font-family: $font-notoserif;
                font-weight: 700;
                font-size: 34px;
                letter-spacing: 0.04em;
                &.num {
                    font-size: 58px;
                    margin-right: 10px;
                }
            }
            .divide {
                width: 2px;
                height: 28px;
                background-color: $primary-500;
                margin: 0 20px;
            }
        }
    }
    &_pic {
        width: 70%;
    }
    &_slogan {
        font-size: 36px;
        color: #7B7B7B;
        font-weight: 300;
        letter-spacing: 0.2em;
    }
    &_leave {
        &-1 {
            width: 24.02vw;
            left: -8.31vw;
            bottom: -3.54vw;
        }
        &-2 {
            width: 11.46vw;
            right: 13.69vw;
            bottom: 0;
        }
        &-3 {
            width: 16.67vw;
            right: 12.39vw;
            top: -4.95vw;
        }
        &-4 {
            width: 39.89vw;
            left: 0;
            bottom: -18vw;
        }
    }
    &-popup {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        z-index: 100;
        display: none;
        img {
            width: 100%;
        }
    }
    @media screen and (max-width: 991px) {
        padding-bottom: 95px;
        &_text {
            width: 100%;
            .title {
                &-main {
                    font-size: 22px;
                    .num {
                        width: 26px;
                        height: 26px;
                        font-size: 24px;
                        text-align: center;
                        line-height: 28px;
                        transform: translateY(1px);
                        margin: 0 5px;
                    }
                }
                &-big {
                    margin-bottom: 0;
                }
            }
        }
        &_title {
            margin-bottom: 5px;
        }
        &_distance {
            width: fit-content;
            margin-bottom: 25px;
            ul {
                margin-bottom: 0;
                display: flex;
                align-items: center;
            }
            li {
                margin-bottom: 0;
                margin-right: 15px;
                span {
                    font-size: 12px;
                    &.num {
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
                .divide {
                    width: 1px;
                    height: 10px;
                    margin: 0 5px;
                }
            }
        }
        &_pic {
            width: 100%;
            margin-bottom: 45px;
        }
        &_slogan {
            font-size: 13px;
            text-align: right;
        }
    }
}

.contact {
    padding-bottom: 16vw;
    position: relative;
    background-image: url(../img/reserve-bg.webp);
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    &_title {
        width: fit-content;
        margin: 0 auto 75px;
        h2 {
            color: $secondary-500;
            font-size: 50px;
            font-weight: 700;
            padding-bottom: 15px;
            font-family: $font-notoserif;
        }
    }
    &_form {
        width: 100%;
        max-width: 950px;
        margin: 0 auto;
    }
    &_input {
        height: 50px;
        label {
            font-weight: 900;
        }
    }
    &_textarea {
        width: 100%;
        padding: 8px 15px;
        height: 100%;
        background-color: transparent;
        border: 2px solid $secondary-500;
        font-size: 19px;
        &::placeholder {
            color: #AFAFAF;
        }
    }
    &_input, &_textarea {
        border-radius: 3px;
        display: flex;
        align-items: center;
        margin-bottom: 17px;
        &:last-child {
            margin-bottom: 0;
        }
        label {
            width: 160px;
            height: 100%;
            background-color: $secondary-500;
            color: #fff;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 26px;
            font-family: $font-notoserif;
            padding-right: 10px;
            padding-left: 20px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                width: 8px;
                height: 100%;
                background-color: $primary-500;
                top: 0;
                left: 0;
            }
        }
        input {
            width: calc(100% - 160px);
            height: 100%;
            padding: 5px 10px;
            background-color: transparent;
            font-size: 19px;
            border: 2px solid $secondary-500;
            border-left: 0;
            &::placeholder {
                color: #AFAFAF;
            }
        }
    }
    #submit {
        display: block;
        margin: 40px auto 0;
        padding: 5px 15px;
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        background-color: $secondary-500;
        font-family: $font-notoserif;
        border: 0;
        letter-spacing: 0.1em;
        font-weight: 700;
    }
    &_leave {
        &-1 {
            width: 11.39vw;
            top: -8.06vw;
            right: 12.22vw;
        }
        &-2 {
            width: 16.67vw;
            left: 9.72vw;
            bottom: -9.17vw;
        }
    }
    @media screen and (max-width: 991px) {
        padding-bottom: 26.67vw;
        background-image: url(../img/leave-24.webp);
        background-size: 63.32vw;
        background-position: right bottom;
        &_title {
            margin-bottom: 45px;
            h2 {
                font-size: 22px;
                padding-bottom: 5px;
            }
        }
        &_input {
            height: 20px;
        }
        &_textarea {
            padding: 8px 5px;
            height: 95px;
            border-width: 0.5px;
            font-size: 7px;
        }
        &_input, &_textarea {
            margin-bottom: 10px;
            label {
                width: 65px;
                font-size: 11px;
                padding-right: 5px;
                padding-left: 10px;
                &::before {
                    width: 4px;
                }
            }
            input {
                width: calc(100% - 65px);
                padding: 0 10px;
                font-size: 7px;
                border-width: 0.5px;
            }
        }
        #submit {
            margin: 15px auto 0;
            font-size: 11px;
        }
    }
}

.footer {
    &_top {
        padding-top: 40px;
        background-color: $primary-500;
        color: #fff;
        font-family: $font-notoserif;
        h2 {
            font-size: 38px;
            font-weight: 700;
            letter-spacing: 0.2em;
            padding-bottom: 10px;
            text-align: center;
        }
    }
    &_inform {
        margin: 0 auto;
        width: fit-content;
        padding-bottom: 30px;
        &_list {
            &:first-child {
                margin-right: 70px;
            }
            >li {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                p {
                    margin: 0;
                    &.footer_inform {
                        &_title {
                            font-size: 22px;
                            font-weight: 700;
                            letter-spacing: 0.1em;
                            margin: 0;
                            margin-right: 10px;
                            position: relative;
                            padding-left: 18px;
                            margin-right: 25px;
                            &::before {
                                position: absolute;
                                content: "";
                                width: 7px;
                                height: 7px;
                                background-color: #fff;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%) rotate(45deg);
                            }
                        }
                        &_content {
                            margin: 0;
                            font-size: 18px;
                            letter-spacing: 0.05em;
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &_bottom {
        text-align: center;
        padding: 25px;
        background-color: $secondary-500;
        z-index: 10;
        p {
            font-size: 18px;
            color: #fff;
            text-align: center;
            margin: 0;
            font-weight: 500;
            a {
                text-decoration: none;
                transition: 0.3s;
                color: #fff;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding-bottom: 0;
        &_top {
            color: $secondary-500;
            background-color: #fff;
            h2 {
                font-size: 22px;
                padding: 0 15px;
                &::before, &::after {
                    width: 2px;
                    height: 17px;
                }
            }
        }
        &_inform {
            margin: 0 auto;
            padding-bottom: 40px;
            &_list {
                margin: 0 !important;
                &:first-child {
                    margin-right: 0;
                }
                >li {
                    align-items: flex-start;
                    margin-bottom: 5px;
                    p {
                        &.footer_inform {
                            &_title {
                                font-size: 14px;
                                width: 90px;
                                padding-right: 0;
                                padding-left: 10px;
                                &::before {
                                    background-color: $secondary-500;
                                    height: 4px;
                                    width: 4px;
                                }
                            }
                            &_content {
                                width: calc(100% - 90px);
                                font-size: 12px;
                                color: $secondary-500;
                            }
                        }
                    }
                }
            }
        }
        &_bottom {
            padding: 5px 10px;
            background-color: $secondary-500;
            position: static;
            p {
                font-size: 12px;
                padding: 0;
                background-color: transparent;
                color: #fff;
                a {
                    color: #fff;
                }
            }
        }
    }
}

.sideBtn {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    overflow: hidden;
    &_top {
        height: 65px;
        width: 65px;
        margin-top: 20px;
        li {
            height: 100%;
            a {
                height: 100%;
            }
        }
    }
    ul {
        background-color: $primary-500;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        border-radius: 100px;
        &.sideBtn_top {
            background-color: $secondary-500;
        }
    }
    li {
        position: relative;
        &:first-child {
            a {
                border-radius: 100px 100px 0 0;
            }
        }
        &:last-child {
            a {
                border-radius: 0 0 100px 100px;
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 20px;
            background-image: url(../img/divide.webp);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            left: 50%;
            transform: translate(-50%, 50%);
            bottom: 0;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    a {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        text-decoration: none;
        align-items: center;
        width: 65px;
        height: 75px;
        position: relative;
        transition: $transition-common;
        cursor: pointer;
        img {
            width: 50px;
            display: block;
            margin: 0 auto;
        }
        span {
            display: block;
            width: 100%;
            font-size: 12px;
            color: #fff;
            text-align: center;
            transition: $transition-common;
            position: absolute;
            bottom: 4px;
            left: 0;
            opacity: 0;
        }
        &:hover {
            opacity: 0.6;
            span {
                opacity: 1;
            }
        }
    }
    @media screen and (max-width: 1500px) {
        right: 20px;
    }
    @media screen and (max-width: 1199px) {
        width: 100%;
        top: inherit;
        transform: none;
        bottom: 0;
        right: 0;
        &_link {
            width: 80%;
            >li {
                width: 20%;
            }
        }
        &_top {
            width: 20%;
            height: 55px;
            >li {
                width: 100% !important;
                a {
                    height: 55px !important;
                    width: 100% !important;
                }
            }
        }
        ul {
            border-radius: 0;
            margin: 0;
        }
        li {
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            width: 25%;
            &::after {
                display: none;
            }
        }
        a {
            width: 100%;
            height: 55px;
        }
    }
}